{% extends "base.html" %}
{% block content %}
{% block leftcolumn %}
{% endblock %}
{% load markup %}
{% load static %}
{% for about in abouts %}
	<div class="post">
	  {% if about.photo %}
	  <img src="/media/{{ about.photo }}" width="100" border="0" alt="{{ about.title }}" align="right">
	  <h1>{{about.title}}</h1></img>
	  {% else %}
	  <img src="{% static 'images/about_us.png' %}" border="0" alt="{{ about.title }}" align="right">
	  <h1>{{ about.title }}</h1></img>
	  {% endif %}
	<div class="body">{{ about.desc|markdown }}</div>
	</div>
	{% empty %}
	<div class='post'>
	  <h1>No About</h1>
	  <div class='body'>There is no introduce just now!</div>
	</div>
{% endfor %}
{% endblock %}
