<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>My Home web</title>
	<style type="text/css">
		#sidebar {
			width: 200px;
		}

		#content {
			width: 60px;
		}

		#toolbar {
			width: 20px;
		}
	</style>
<head>
<body>
	<table>
	<tr>
		<div id="logo">dddd</div>
	<tr>
	</tr>
		<div id="logo">dddd</div>
	<tr>
	</tr>
		<div id="banner">ffffffff</div>
	<tr>
	</tr>
		<div id="nav">gggggggg</div>
	</tr>
	<tr>
		<td><div id="sidebar">ddddd</div></td>
		<td><div id="content">cccccccc</div></td>
		<td><div id="toolbar">tttttttt</div></td>
	</tr>
	</table>
</body>
</html>
