{% extends "blogs/base.html" %}

{% block content %}
	<div class="chapter">
	<div class="prev"><a class="chapter" href="/default.asp">&laquo; warmlab Home</a></div>
	<div class="next"><a class="chapter" href="css_selectors.asp">Next Reference &raquo;</a></div>
	</div>
	<hr />
	{% for post in posts.object_list %}
	<h1><span class="color_h1">{{ post.title }}</span></h1>
	<h2><span class="color_h2">{{ post.created }}</span></h2>
	<p class="intro"><img style="float:left;margin-right:6px" alt="Note" src="/images/wl_note.png" /> 
		{{ post.body|linebreaks }}
	</p>
	<%--<div><a href="{% url blog.views.post post.pk %}">Comments</a></div> --%>
	<hr/>
	{% endfor %}
	<div class="chapter">
	<div class="prev"><a class="chapter" href="/default.asp">&laquo; warmlab Home</a></div>
	<div class="next"><a class="chapter" href="css_selectors.asp">Next Reference &raquo;</a></div>
	</div>
	<hr/>
{% endblock %}
