table.codehilitetable {
background-color: #F4F8FC;
background: -webkit-gradient(linear, left top, left bottom, from(#FCFDFE), to(#F4F8FC));
background: -moz-linear-gradient(#FCFDFE, #F4F8FC) repeat scroll 0 0 #FCFDFE;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFE', endColorstr='#F4F8FC');
border: 1px solid #D9D9D9;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
color: #666666;
font-size: 100%;
border-padding:0;
border-spacing:0;
width:680;
}

table.codehilitetable tr {
padding: 0px;
background-color: #EDF5FF;
text-align: top;
}

table.codehilitetable td {
border-right: 1px solid #D9D9D9;
padding: 0px;
background-color: #EDF5FF;
text-align: top;
}

/* Start inline code */
/* End inline code */
div.linenodiv pre {
	font-family: Monaco,"Andale Mono","lucida console","Courier New",monospace;
	font-size:90%;
	padding-left: 5px;
	text-align: right;
}

div.codehilite pre {
	font-family: Monaco,"Andale Mono","lucida console","Courier New",monospace;
	font-size:90%;
}

div.codehilite pre {
padding: 0px;
max-width: 650px;
overflow: auto; overflow-y:hidden
}
