<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset=utf-8 />
	<title>WarmLab</title>
	{% load static %}
	<link rel="shortcut icon" href="favicon.ico"/>
	<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" charset="utf-8"/>
	{% load static %}
	{% block style %}{% endblock %}
	{#<script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>#}
	<script type="text/javascript" language="javascript">
	{% block script %}{% endblock %}
	</script>
	<!-- [if lt IE 9]>
	<script>
	var e=("footer,article,canvas,datalist,details,aside,abbr,figure,header,hgroup,mark,menu,meter,nav,output,progress,secsion,time,video,audio").split(',');
	for (var=0;i<e.length;i++) {
		document.createElement(e[i]);
	}
	</script>
	<![endif]-->
<head>
<body>
    <div id='wrapper'>
      <div id='header'>
		<h1><a href="/"><img src="{% static 'images/title.png' %}"/></a></h1>
        <div id='menu'>
          <ul>
            <li><a href='/' title='Blog'><img src="{% static 'images/blog.gif' %}"/></a></li>
            <li><a href='/apps' title='Apps'><img src="{% static 'images/apps.png' %}"/></a></li>
            <li><a href='/about' title='About'><img src="{% static 'images/about.gif' %}"/></a></li>
			{% comment %}
            <li><a href='/' id='blog_link' title='Blog'></a></li>
            <li><a href='/apps' id='apps_link' title='Apps'></a></li>
            <li><a href='/about' id='about_link' title='About'></a></li>
            <li><a href='/' id='home_link' title='Home'>Home</a></li>
            <li><a href='http://github.com/warmlab' target='_blank' title='GitHub' rel='me' id='github_link'>GitHub</a></li>
			{% endcomment %}
          </ul>
        </div>
      </div>
      <div id='content'>
		<div id="home_left" class="home_box">
        {% block content %}{% endblock %}
		</div>
		<div class='home_box' id='home_right'>
		{% block aside %}{% endblock %}
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6604368555682363";
		/* warmlab */
		google_ad_slot = "2208078623";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		</div>
      </div>
    </div>
    <div id='footer'>
      Copyright &copy; 2012 WarmLab. Some rights reserved.Templates from <a href='http://github.com/mbleigh/mbleigh.github.com/' target='_blank'>Michael Bleigh</a>.
    </div>
</body>
</html>
