<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset=utf-8 />
	<title>WarmLab - {{ page.title }}</title>
	{% load static %}
	<link rel="shortcut icon" href="favicon.ico"/>
	{#<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>#}
    <link href="{% static 'css/master.css' %}" rel="stylesheet" type="text/css" charset="utf-8"/>
	{% block style %}{% endblock %}
	<script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" language="javascript">
	{% block script %}{% endblock %}
	</script>
	<!-- [if lt IE 9]>
	<script>
	var e=("footer,article,canvas,datalist,details,aside,abbr,figure,header,hgroup,mark,menu,meter,nav,output,progress,secsion,time,video,audio").split(',');
	for (var=0;i<e.length;i++) {
		document.createElement(e[i]);
	}
	</script>
	<![endif]-->
<head>
<body>
    <div id='wrapper'>
      <div id='header'>
        <h1><a href='/'></a></h1>
        <div id='menu'>
          <ul>
            <li><a href='/' id='blog_link' title='Blog'></a></li>
            <li><a href='/about' id='about_link' title='About'></a></li>
			{% comment %}
            <li><a href='/' id='home_link' title='Home'>Home</a></li>
            <li><a href='http://github.com/warmlab' target='_blank' title='GitHub' rel='me' id='github_link'>GitHub</a></li>
			{% endcomment %}
          </ul>
        </div>
      </div>
      <div id='content'>
        {% block content %}
		{% endblock %}
		{% block aside %}
		{% endblock %}
      </div>
    </div>
    <div id='footer'>
      Copyright &copy; 2012 WarmLab. Some rights reserved.Templates from <a href='http://github.com/mbleigh/mbleigh.github.com/' target='_blank'>Michael Bleigh</a>.
    </div>
  </body>
</body>
</html>
