{% extends "apps/base.html" %}
{% block style %}
{% load static %}
<link href="{% static 'apps/css/app.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% load url from future %}
{% block content %}
	<div class='post'>
	  <img src="/media/{{app.icon}}" border="0" alt="{{ app.name }}" align="right"><h1>{{ app.name }}</h1></img>
	  <h2>Version: {{ app.version }}</h2>
	  {% load markup %}
	  <div class='body'>{{ app.desc|markdown }}</div>
	  <div><a href="{{app.ios_url}}" target="_blank"><img src="{% static 'apps/images/asl.png' %}"/></a></div>
	</div>
	{% load disqus_tags %}
	{% disqus_show_comments %}
{% endblock %}
