{% extends "apps/base.html" %}
{% block style %}
{% load static %}
<link href="{% static 'apps/css/app.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
	{% load url from future %}
	{% load markup %}
<div id="home_left" class="home_box">
	{% for app in app_list %}
	<div class='post'>
	  <img src="/media/{{app.icon}}" border="0" alt="{{ app.name }}" align="right">
		<h1><a href='{% url 'app_content' app.slug %}'>{{app.name}}</a></h1></img>
	  <div class='body'>{{ app.desc|markdown }}</div>
	  {% load disqus_tags %}
	  <a href="{% url 'apps.views.app' app.slug %}#disqus_thread">View Comments</a>
	  {% disqus_num_replies %}
	</div>
	{% empty %}
	<div class='post'>
	  <h2>No Application</h2>
	  <h1>No Thing</h1>
	  <div class='body'>There is no content just now!</div>
	</div>
	{% endfor %}

	{% if app_list and apps.paginator.num_pages > 1 %}
	<div class="chapter">
		{% if apps.has_previous %}
		<a href="?page={{ apps.previous_page_number }}">&laquo; Newer</a>
		{% endif %}
		&nbsp;Page {{ apps.number }} of {{ apps.paginator.num_pages }}&nbsp;
		{% if apps.has_next %}
		<a href="?page={{ apps.next_page_number }}">Older &raquo;</a>
		{% endif %}
	</div>
	{% endif %}
</div>
{% endblock %}
