{% extends "codes/base.html" %}
{% block style %}
<link href="/static/codes/css/code.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
	<div class="content">
	<h1><span class="color_h1">{{ code.title }}</span></h1>
	<div><span class="time">{{ code.created }}</span></div>
	<hr/>
	<div>{{ code.body|linebreaks }}</div>
	</div>
	<br/>

{% if comments %}
    <h2><span class="color_h1">Comments:</span></h2>
{% for comment in comments %}
    <div class="comment">
	        <div style="padding-left:2px;font-size:100%;color:#191970">{{ comment.author }}<span class="time"> - {{ comment.created }}</span></div>
	        <div style="padding-left:2px;font-size:90%;color:#708090;">{{ comment.body|linebreaks }}</div>
    </div>
	<br/>
{% endfor %}
{% endif %}

<div style="font-size:160%;color:#98bf21;">Add a comment:</div>
<!-- Comment form  -->
<div style="border-style:dashed;border-width:1px;border-radius:5px;border-color:#98bf21;">
<form action="{% url codes.views.add_comment code.id %}" method="POST">{% csrf_token %}
	<table>
		<tr><td>Name:</td><td>{{ form.author }}</td></tr>
		<tr><td>Email:</td><td>{{ form.email }}</td></tr>
		<tr><td>Title:</td><td>{{ form.title }}</td></tr>
	    <tr><td colspan="2">{{ form.body|linebreaks }}</td></tr>
		<tr><td colspan="2" style="text-align:right;"><input class="button" type="submit" value="Submit"/></td></tr>
    </table>
</form>
</div>
{% endblock %}
