{% extends "codes/base.html" %}
{% block style %}
{% load static %}
<link href="{% static 'codes/css/code.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'codes/css/emacs.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'codes/css/markdown.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
	{% load url from future %}
	{% load markup %}
	{% load code_filter %}
	{% for code in code_list %}
	<div class="content">
	<h1><a href="{% url 'code_content' code.slug %}" class="title">{{ code.title }}</a></h1>
	<h6><span style="color:#909090">{{ code.created }}</span></h6>
	<hr/>
	<p class="intro">
		{{ code.body|slice_lines:16|markdown:"codehilite" }}<p>......</p>
	</p>
	{#<div><a href="{% url codes.views.code code.pk %}">Comments</a></div>#}
	</div>
	<br/>
	{% endfor %}
	{% if code_list and codes.paginator.num_pages > 1 %}
	<hr/>
	<div class="chapter">
		{% if codes.has_previous %}
		<a class="chapter" href="?page={{ codes.previous_page_number }}">&laquo; Newer</a>
		{% endif %}
		&nbsp;Page {{ codes.number }} of {{ codes.paginator.num_pages }}&nbsp;
		{% if codes.has_next %}
		<a class="chapter" href="?page={{ codes.next_page_number }}">Older &raquo;</a>
		{% endif %}
	</div>
	<hr/>
	{% endif %}
{% endblock %}
